# Ignore everything in the root directory by default
/*

# Whitelist the directories and files we want to track
!/client/
!/server/
/extension/
!/.gitignore
!/README.md
!/CHROMEWEBSTORE.md

# Globally ignore dependencies and build files inside the whitelisted directories
node_modules/
.next/
dist/
build/
.env
.env.*
!.env.example
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary scripts & scratch files
*.py
*.pyc
__pycache__/
out.json